* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* ====DESKTOP====  */
/* @media screen and (min-width: 1158px) { */
/* ==HEADER== */
.main-header {
	width: 1248px;
	margin: auto;
	padding: 0 7px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	border-bottom: 1px solid #dcdcdc;
}

.main-logo {
	transition: height 0.17s cubic-bezier(0.55, 0.06, 0.68, 0.19),
		width 0.17s cubic-bezier(0.55, 0.06, 0.68, 0.19);
	display: flex;
	height: 100px;
	width: 183px;
}

.logo-link {
	width: 183px;
	height: 100px;
}

.header-menu {
	display: flex;
	align-items: center;
	position: relative;
	margin-left: auto;
}

.search-wrapper {
	display: flex;
	position: relative;
	height: 35px;
	width: 280px;
	margin: auto 0;
	background: none;
	background-color: #efefef;
	border: none;
	border-radius: 20px;
}

.search-field {
	background: none;
	background-color: #efefef;
	border: none;
	border-radius: 20px;
	padding-left: 8px;
	padding-right: 12px;
	min-width: 0;
	flex: 1 1;
}

.icon-loupe {
	position: absolute;
	left: 8px;
	top: 50%;
	transform: translateY(-50%);
	opacity: 1;
}

.search-field:focus + .icon-loupe {
	opacity: 0;
}

.search-placeholder-box {
	height: 35px;
	line-height: 35px;
	font-size: 0.9em;
	color: #c4c4c4;
	position: absolute;
	top: 50%;
	left: 40px;
	transform: translateY(-50%);
	pointer-events: none;
}

.search-wrapper:focus-within .search-placeholder-box {
	opacity: 0;
}
/* } */
