* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-decoration: none;
}

body {
	font-family: "Fira Sans", sans-serif;
	font-family: "Montserrat", sans-serif;
}

/* ====DESKTOP====  */
/* @media screen and (min-width: 1158px) { */
/* ==HEADER== */
.main-header {
	width: 1248px;
	margin: auto;
	padding: 0 7px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	border-bottom: 1px solid #dcdcdc;
}

.main-logo {
	transition: height 0.17s cubic-bezier(0.55, 0.06, 0.68, 0.19),
		width 0.17s cubic-bezier(0.55, 0.06, 0.68, 0.19);
	display: flex;
	height: 100px;
	width: 183px;
}

.logo-link {
	width: 183px;
	height: 100px;
}

.header-menu {
	display: flex;
	align-items: center;
	position: relative;
	margin-left: 90px;
}

.search-wrapper {
	display: flex;
	position: relative;
	height: 35px;
	width: 280px;
	margin: auto 0;
	background: none;
	background-color: #efefef;
	border: none;
	border-radius: 20px;
}

.search-field {
	background: none;
	background-color: #efefef;
	border: none;
	border-radius: 20px;
	padding-left: 8px;
	padding-right: 12px;
	min-width: 0;
	flex: 1 1;
}

.search-field:focus {
	outline: none;
}

.icon-loupe {
	position: absolute;
	left: 8px;
	/* top: 9px; */
	transform: translateY(50%);
	opacity: 1;
	pointer-events: none;
}

.search-wrapper:focus-within .icon-loupe {
	opacity: 0;
}

.search-placeholder-box {
	height: 35px;
	line-height: 35px;
	font-size: 0.9em;
	color: #c4c4c4;
	position: absolute;
	top: 50%;
	left: 40px;
	transform: translateY(-50%);
	pointer-events: none;
}

.search-wrapper:focus-within .search-placeholder-box {
	opacity: 0;
}

.search-google-icon {
	position: absolute;
	right: 110px;
	top: 21px;
	transform: translateY(-50%);
	opacity: 1;
	pointer-events: none;
}

.search-wrapper:focus-within .search-google-icon {
	opacity: 0;
}

.search-button {
	background: #ffd200;
	text-transform: uppercase;
	border-radius: 20px;
	border: none;
	font-size: 0.75em;
	font-weight: 700;
	letter-spacing: 0;
	width: 99px;
	align-items: flex-start;
}

.service-menu {
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.17s cubic-bezier(0.55, 0.06, 0.68, 0.19);
	padding: 4px 0 4px 15px;
	position: relative;
	font-family: "Fira Sans", Arial, Helvetica, sans-serif;
	font-size: 12.5px;
}

.menu-position {
	height: 22px;
	overflow: visible;
	margin-right: 5px;
}
.menu-text {
	display: inline-block;
	transition: opacity 0.17s cubic-bezier(0.55, 0.06, 0.68, 0.19),
		max-width 0.17s cubic-bezier(0.55, 0.06, 0.68, 0.19);
	position: relative;
	overflow: hidden;
	color: black;
	text-transform: uppercase;
}

.mini-label {
	color: #969696;
	text-transform: uppercase;
	font-size: 0.6em;
	position: absolute;
	font-weight: 400;
	letter-spacing: 0;
	text-align: right;
	display: flex;
	margin-top: -14px;
}

.menu-label-prefix {
	display: inline-block;
	position: absolute;
	margin-top: 36px;
	margin-left: -15px;
	font-size: 0.6em;
	color: #e00000;
	font-weight: 700;
	text-transform: uppercase;
	text-align: right;
}

.onet-premium-link {
	margin-left: 10px;
	margin-right: 40px;
}

.onet-premium-img {
	height: 35px;
	margin-right: 76px;
}

.additonal-services-menu {
	display: flex;
}

.add-menu-icon {
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #ffd200;
	color: #1e1e1e;
	width: 36px;
	height: 36px;
	border-radius: 100%;
	margin-right: 15px;
	position: relative;
	transition: all 0.17s cubic-bezier(0.55, 0.06, 0.68, 0.19);
}

.rounded-background {
	width: 36px;
	height: 36px;
	border-radius: 50%;
	background: #ffd200;
}
/* } */
