* {
	padding: 0;
	margin: 0;
	list-style-type: none;
	text-decoration: none;
	box-sizing: border-box;
}

/* ====DESKTOP====  */
@media screen and (min-width: 1158px) {
	/* ==HEADER== */
	.main_header {
		width: 1248px;
		margin: 0 16px;
	}
}
