* {
	padding: 0;
	margin: 0;
	list-style-type: none;
	text-decoration: none;
	box-sizing: border-box;
}

/* ====DESKTOP====  */
@media screen and (min-width: 1158px) {
	/* ==HEADER== */
	.main_header {
		width: auto;
		margin: 0 16px;
		padding: 0 7px;
		align-items: center;
		box-sizing: border-box;
		display: flex;
		justify-content: space-between;
		position: relative;
	}

	.main_logo {
		transition: height 0.17s cubic-bezier(0.55, 0.06, 0.68, 0.19),
			width 0.17s cubic-bezier(0.55, 0.06, 0.68, 0.19);
		display: flex;
		height: 100px;
		width: 183px;
	}

	.logo-link {
		width: 183px;
		height: 100px;
	}

	.header_menu {
		display: flex;
		align-items: center;
		position: relative;
		margin-left: auto;
	}

	.search_wrapper {
		display: flex;
		position: relative;
		height: 35px;
		width: 280px;
		border-radius: 20px;
		margin: auto 0;
	}

	.search_field {
		background: none;
		border: none;
		padding-left: 8px;
		padding-right: 12px;
		/* -webkit-appearance: none; */
		min-width: 0;
	}
}
